[Unit]
Description=MariaDB 10.5.12 database server (multi-instance %I)
Documentation=man:mariadbd(8)
Documentation=https://mariadb.com/kb/en/library/systemd/
After=network.target
ConditionPathExists=/etc/my.%I.cnf


[Install]
WantedBy=multi-user.target

[Service]
Type=notify
PrivateNetwork=false
CapabilityBoundingSet=CAP_IPC_LOCK CAP_DAC_OVERRIDE CAP_AUDIT_WRITE
PrivateDevices=false
ProtectSystem=full
ProtectHome=true

ExecStart=/usr/sbin/mariadbd $MYSQLD_MULTI_INSTANCE $MYSQLD_OPTS

KillSignal=SIGTERM
SendSIGKILL=no
Restart=on-abort
RestartSec=5s
UMask=007
PrivateTmp=false
TimeoutStartSec=900
TimeoutStopSec=900

Environment=MYSQLD_MULTI_INSTANCE=--defaults-file=/etc/my.%I.cnf

User=mysql
Group=mysql
LimitNOFILE=32768
